@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: -apple-system, PretendardR, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "PretendardR";
  font-weight: 400;
  src: url("../../public/assets/fonts/PretendardVariable.ttf")
    format("truetype");
}
@font-face {
  font-family: "PretendardM";
  font-weight: 500;
  src: url("../../public/assets/fonts/PretendardVariable.ttf")
    format("truetype");
}
@font-face {
  font-family: "PretendardSB";
  font-weight: 600;
  src: url("../../public/assets/fonts/PretendardVariable.ttf")
    format("truetype");
}
@font-face {
  font-family: "PretendardB";
  font-weight: 700;
  src: url("../../public/assets/fonts/PretendardVariable.ttf")
    format("truetype");
}
